
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Mike Rosack">

    <title>Greenville, WI API</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.min.css" />
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.1.1/gh-fork-ribbon.ie.min.css" />
    <![endif]-->
    <style>
        .text-right-md {
            text-align:right;
        }

        @@media (max-width: 991px) {
            .text-right-md {
                text-align: left;
            }
        }
    </style>
</head>

<body>
    <div class="github-fork-ribbon-wrapper right hidden-xs">
        <div class="github-fork-ribbon">
            <a href="https://github.com/mrosack/greenville-wi-api">Fork me on GitHub</a>
        </div>
    </div>

    <div class="jumbotron">
        <div class="container">
            <h1>Greenville, WI API</h1>
            <p>This is a start of an API to provide civic data for Greenville, WI.</p>
            <p><a class="btn btn-primary btn-lg" href="/swagger/ui" role="button">View the API Swagger Specs</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h2>Goals</h2>
                <p>
                    The main goal of this API is to implement contracts listed on the <a href="http://civic-hack-api-locator.azurewebsites.net">Civic Hack API Locator</a>
                    for Greenville, WI.  For more information (and to help us out if you're interested), head over to the <a href="http://dhmncivichacks.blogspot.com/">DHMN Civic Hacks</a> blog!
                </p>
            </div>
        </div>

    </div> <!-- /container -->
    
    <hr />

    <div class="container">
        <div class="row">
            <div class="col-md-5">
                Hacked together by <a href="mailto:mrosack@sacknet.org">Mike Rosack</a>
            </div>
            <div class="col-md-7 text-right-md">
                A project of the <a href="http://dhmncivichacks.blogspot.com/">NE Wisconsin DHMN Civic Hacking Group</a>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
